# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.log

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/
.env/
.env.*

# =========================
# ML Data & Artifacts (IMPORTANT)
# =========================
data/
*.csv
*.pkl
*.joblib
*.h5
*.npy
*.model
*.bin
*.txt

# =========================
# Experiment Outputs
# =========================
outputs/
artifacts/
checkpoints/
runs/

# =========================
# Jupyter / Notebooks
# =========================
.ipynb_checkpoints/
*.ipynb

# =========================
# VS Code / IDE
# =========================
.v
